body{
    background-color: rgb(134, 1, 134) !important;
    
}
#for{


    border: 30px;
    border-color: rgb(231, 9, 9);
    border-width: 13px;
    border-radius: 10px;
    background-color: rgba(233, 203, 237, 0.664);
    padding-top: 50px;
    // padding-bottom: 50px;
    // height: 100vh;
    width: 310px !important;
    padding-bottom: 50px;
    text-align: center;
  
}
#name{
    border-radius: 20px !important;
}
.name{
    border-radius: 5px;
    border-color: rgb(143, 22, 22);
    
}
#wed{
    width:180px !important;
}
#sign{
    border: 30px;
    align-items:center;
    border-color: aquamarine;
    width: 380px;

    background-color: rgba(179, 114, 220, 0.446);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
   
}


